<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Back-end As Service</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a class="nav-link active" routerLink="/novaMusica">Cadastrar Musicas</a></li>
      <li><a class="nav-link" routerLink="/listaMusica">Lista de Musicas</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" (click)="user.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>